#app-frame {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  > nz-spin {
    @apply flex flex-grow;

    > .ant-spin-container {
      @apply flex flex-grow;
    }
  }
}

app-project {
  @apply flex;
  flex-grow: 1;
  flex-direction: column;
  /* for Firefox */
  min-height: 0;
}

board-dnd {
  @apply flex flex-grow;
}

.global-spinner {
  @apply min-h-screen;
}

//text-area
.textarea-control {
  border-color: transparent;
  padding: 7px 7px 8px;
  line-height: 1.28;
  resize: none;
  box-shadow: transparent 0px 0px 0px 1px;
  transition: background 0.1s ease 0s;
  overflow: auto;
  overflow-y: hidden;
  width: 100%;
  border-radius: 3px;
  appearance: none;

  @apply w-full h-auto text-textDarkest;

  &:hover:not(:focus) {
    @apply bg-backgroundLight;
  }

  &:focus {
    @apply bg-white border border-borderInputFocus;
    box-shadow: 0 0 0 1px #4c9aff;
  }
}

//ng-zorro override
body, .ant-modal {
  @apply text-textDark;
}

.ant-modal-body {
  padding: 0;
}

