<div [style.width.px]="sidebarWidth"
     class="sidebar">
    <div class="sidebar-content">
        <div class="flex px-1 py-6">
            <j-avatar avatarUrl="https://res.cloudinary.com/dvujyxh7e/image/upload/c_scale,w_256/v1593097745/angular-vietnam-transparent_iwfwxa.png"
                      [name]="'Project'"
                      [rounded]="false"
                      [size]="45"
                      title="Angular Vietnam">
            </j-avatar>
            <div class="pl-2">
                <div class="font-medium text-textDark text-15">
                    {{ project.name }}
                </div>
                <div class="text-textMedium text-13">
                    {{ project.category }} Project
                </div>
            </div>
        </div>

        <div *ngFor="let link of sideBarLinks; let idx = index">
            <a *ngIf="link.url"
               [routerLink]="link.url"
               routerLinkActive="active"
               class="link allowed">

                <svg-icon class="mr-4"
                          [name]="link.icon"
                          [size]="24">
                </svg-icon>

                <div class="pt-px text-15">{{ link.name }}</div>
            </a>
            <div *ngIf="!link.url"
                 class="link not-allowed">

                <svg-icon class="mr-4"
                          [name]="link.icon"
                          [size]="24">
                </svg-icon>

                <div class="pt-px text-15">{{ link.name }}</div>
                <div class="not-implemented">
                    Not implemented
                </div>
            </div>

            <div *ngIf="idx === 1"
                 class="divider"></div>
        </div>
    </div>
</div>