<div class="mt-6 mb-1 uppercase text-textMedium text-13 font-bold">
    Assignees
</div>

<j-button *ngFor="let assignee of assignees"
          [className]="'btn-secondary mr-1-5 mb-2'">
    <div class="flex items-center">
        <j-user [user]="assignee"></j-user>
        <svg-icon (click)="removeUser(assignee.id)"
                  title="Remove user"
                  [size]="20"
                  [name]="'times'"
                  class="text-textLight">
        </svg-icon>
    </div>
</j-button>

<a class="add-more"
   nz-dropdown
   [nzTrigger]="'click'"
   [nzDropdownMenu]="menu">
    <i class="mr-1"
       nz-icon
       nzType="plus"
       nzTheme="outline"></i>
    Add Assignee
</a>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul class="mt-3"
        nz-menu
        nzNoAnimation>
        <ng-container *ngFor="let option of users">
            <li nz-menu-item
                *ngIf="!isUserSelected(option)"
                (click)="addUserToIssue(option)">
                <j-user [user]="option"></j-user>
            </li>
        </ng-container>
    </ul>
</nz-dropdown-menu>