@import 'ng-zorro-antd/style/index.min.css';
@import 'ng-zorro-antd/tooltip/style/index.min.css';
@import 'ng-zorro-antd/spin/style/index.min.css';
@import 'ng-zorro-antd/modal/style/index.min.css';
@import 'ng-zorro-antd/dropdown/style/index.min.css';
@import 'ng-zorro-antd/select/style/index.min.css';
@import 'ng-zorro-antd/drawer/style/index.min.css';
@import 'ng-zorro-antd/notification/style/index.min.css';
@import 'ng-zorro-antd/popover/style/index.min.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.pre-bootstrapping-container {
  @apply w-full h-full relative;
  .pre-bootstrapping-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
