<div class="status-list">
    <div class="px-3 pb-4 pt-3 uppercase text-textMedium text-13 truncate">
        {{ IssueStatusDisplay[status] }}
        <span class="lowercase text-13">{{ issuesCount }}</span>
    </div>
    <div class="h-full pl-2"
         cdkDropList
         [cdkDropListData]="issues"
         [id]="status"
         (cdkDropListDropped)="drop($event)">
        <issue-card *ngFor="let issue of issues"
                    [issue]="issue"
                    cdkDrag
                    [cdkDragData]="issue">
        </issue-card>
    </div>
</div>