<div class="issue-wrap">
    <div (click)="openIssueDetail(issue.id)"
         class="issue">
        <p class="pb-3 text-15 text-textDarkest">
            {{ issue.title }}
        </p>
        <div class="flex justify-between items-center">
            <div class="flex items-center ml-1">            
                <j-avatar *ngFor="let user of assignees"
                          [className]="'shadow-outline-white -ml-1'"
                          [size]="24"
                          nz-tooltip
                          [nzMouseEnterDelay]="0.3"
                          nzTooltipTitle="Assigned: {{ user.name }}"
                          nzTooltipPlacement="bottom"
                          [avatarUrl]="user.avatarUrl">
                </j-avatar>                
                <span class="uppercase ml-3">
                    {{issue.type}}-{{issue.id}}
                </span>
            </div>
            <div class="flex items-center">
                <svg-icon class="text-textMedium mr-1"
                          [name]="issueTypeIcon"
                          nz-tooltip
                          [nzMouseEnterDelay]="0.3"
                          [nzTooltipTitle]="issue.type"
                          nzTooltipPlacement="bottom"
                          [size]="20">
                </svg-icon>

                <svg-icon [name]="priorityIcon.name"
                          nz-tooltip
                          [nzMouseEnterDelay]="0.3"
                          [nzTooltipTitle]="priorityIcon.label"
                          nzTooltipPlacement="bottom"
                          [size]="20"
                          [style.color]="priorityIcon.color">
                </svg-icon>
            </div>            
        </div>
    </div>
</div>