<ng-container *ngIf="isEditing; else readonlyModeTmpl">
    <j-text-editor [control]="descriptionControl">

    </j-text-editor>

    <div class="pt-3 flex
      items-center">
        <j-button [isWorking]="isWorking"
                  [className]="'btn-primary'"
                  class="mr-2"
                  (click)="save()">
            Save</j-button>
        <j-button (click)="cancel()"
                  [className]="'btn-empty'">
            Cancel
        </j-button>
    </div>
</ng-container>

<ng-template #readonlyModeTmpl>
    <div class="content-readonly"
         *ngIf="!isEditing"
         (click)="setEditMode(true)">
        <div class="ql-editor"
             [innerHTML]="issue.outputHtml || 'Click to add description'"></div>
        <div class="icon-edit">
            <i nz-icon
               class="cursor-pointer"
               title="Click to edit"
               nzType="edit"
               nzTheme="outline"></i>
        </div>
    </div>
</ng-template>