<div class="mt-6 mb-1 uppercase text-textMedium text-13 font-bold">
    Assignees
</div>
<div>
    <j-button *ngFor="let assignee of assignees"
              [className]="'btn-secondary mr-1-5'">
        <div class="flex items-center">
            <j-avatar [avatarUrl]="assignee?.avatarUrl"
                      [size]="20">
            </j-avatar>
            <span class="ml-1-5 mr-1-5">
                {{ assignee.name }}
            </span>
            <svg-icon [size]="20"
                      [name]="'times'"
                      class="text-textLight">
            </svg-icon>
        </div>
    </j-button>
</div>