<nz-select class="w-full"
  [formControl]="control"
  nzMode="multiple"
  [nzCustomTemplate]="assigneesSelectedTmpl"
  [nzNotFoundContent]="noUserFoundTmpl"
  nzNoAnimation>
  @for (user of users; track user) {
    <nz-option nzCustomContent
      [nzValue]="user.id"
      [nzLabel]="user.name">
      <j-user [user]="user"></j-user>
    </nz-option>
  }
</nz-select>
<ng-template #assigneesSelectedTmpl
  let-selected>
  <j-user [user]="getUser(selected.nzValue)"></j-user>
</ng-template>
<ng-template #noUserFoundTmpl>
  No user found.
</ng-template>