@import 'ng-zorro-antd/style/index.min.css';
@import 'ng-zorro-antd/tooltip/style/index.min.css';
@import 'ng-zorro-antd/spin/style/index.min.css';
@import 'ng-zorro-antd/modal/style/index.min.css';


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
