.input-container {
  position: relative;
  display: inline-block;
  height: 32px;
  width: 100%;

  .input {
    height: 100%;
    width: 100%;
    padding: 0 7px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background: #f4f5f7;
    color: #172b4d;
    transition: background 0.1s;
    font-size: 15px;

    &:hover {
      background: #ebecf0;
    }

    &:focus {
      background: #fff;
      border: 1px solid #4c9aff;
      box-shadow: 0 0 0 1px #4c9aff;
      outline: none;
    }

    &::placeholder {
      font-size: 14px;
    }
  }

  &.flat {
    height: 40px;
    .input {
      border: none;
      border-bottom: 2px solid #0052cc;
      font-size: 21px;
      background: #fff;

      &::placeholder {
        // @apply text-textLight;
        font-size: 21px;
      }
      &:focus,
      &:hover {
        border: none;
        border-bottom: 2px solid #0052cc;
        box-shadow: none;
        background: #fff;
      }
    }
  }
}

.invalid {
  &,
  &:focus {
    border: 1px solid #e13c3c;
    box-shadow: none;
  }
}

.input-icon-container {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &.right {
    left: auto;
    right: 0;
    cursor: pointer;
  }
}
