<div class="mb-10">
  <j-input [control]="searchControl"
    containerClassName="flat text-textMedium"
    icon="search"
    [iconSize]="26"
    placeholder="Search issues by summary, description...">
  </j-input>
</div>

@if (hasSearchTermInput) {
  @if (results$ | async; as results) {
    @if (results?.length) {
      <div class="section-title">Issues Result</div>
      @for (issue of results; track issue) {
        <issue-result
          (click)="openIssueModal(issue)"
        [issue]="issue"></issue-result>
      }
    } @else {
      <div class="pt-10 flex flex-col justify-center items-center">
        <svg-icon [name]="'no-result'"
        [size]="125"></svg-icon>
        <div class="pt-8 font-medium text-xl">
          We couldn't find anything matching your search
        </div>
        <div class="pt-2 text-15">Try again with a different term.</div>
      </div>
    }
  }
} @else {
  @if (recentIssues$ | async; as recentIssues) {
    @if (recentIssues?.length) {
      <div class="section-title">Recent Issues</div>
      @for (issue of recentIssues; track issue) {
        <issue-result
          (click)="openIssueModal(issue)"
        [issue]="issue"></issue-result>
      }
    } @else {
      <div class="pt-10 flex flex-col justify-center items-center">
        <svg-icon [name]="'no-result'"
        [size]="125"></svg-icon>
        <div class="pt-8 font-medium text-xl">
          We couldn't find anything matching your search
        </div>
        <div class="pt-2 text-15">Try again with a different term.</div>
      </div>
    }
  }
}


