@import '../node_modules/ng-zorro-antd/style/index.min.css';
@import '../node_modules/ng-zorro-antd/tooltip/style/index.min.css';
@import '../node_modules/ng-zorro-antd/spin/style/index.min.css';
@import '../node_modules/ng-zorro-antd/modal/style/index.min.css';
@import '../node_modules/ng-zorro-antd/dropdown/style/index.min.css';
@import '../node_modules/ng-zorro-antd/select/style/index.min.css';
@import '../node_modules/ng-zorro-antd/drawer/style/index.min.css';
@import '../node_modules/ng-zorro-antd/notification/style/index.min.css';
@import '../node_modules/ng-zorro-antd/popover/style/index.min.css';

@import 'tailwindcss';

@theme {
  --color-transparent: transparent;
  --color-black: #000;
  --color-white: #fff;
  --color-gray-100: #f7fafc;
  --color-gray-200: #edf2f7;
  --color-gray-300: #e2e8f0;
  --color-gray-400: #cbd5e0;
  --color-gray-500: #a0aec0;
  --color-gray-600: #718096;
  --color-gray-700: #4a5568;
  --color-gray-800: #2d3748;
  --color-gray-900: #1a202c;
  --color-red-100: #fff5f5;
  --color-red-200: #fed7d7;
  --color-red-300: #feb2b2;
  --color-red-400: #fc8181;
  --color-red-500: #f56565;
  --color-red-600: #e53e3e;
  --color-red-700: #c53030;
  --color-red-800: #9b2c2c;
  --color-red-900: #742a2a;
  --color-orange-100: #fffaf0;
  --color-orange-200: #feebc8;
  --color-orange-300: #fbd38d;
  --color-orange-400: #f6ad55;
  --color-orange-500: #ed8936;
  --color-orange-600: #dd6b20;
  --color-orange-700: #c05621;
  --color-orange-800: #9c4221;
  --color-orange-900: #7b341e;
  --color-yellow-100: #fffff0;
  --color-yellow-200: #fefcbf;
  --color-yellow-300: #faf089;
  --color-yellow-400: #f6e05e;
  --color-yellow-500: #ecc94b;
  --color-yellow-600: #d69e2e;
  --color-yellow-700: #b7791f;
  --color-yellow-800: #975a16;
  --color-yellow-900: #744210;
  --color-green-100: #f0fff4;
  --color-green-200: #c6f6d5;
  --color-green-300: #9ae6b4;
  --color-green-400: #68d391;
  --color-green-500: #48bb78;
  --color-green-600: #38a169;
  --color-green-700: #2f855a;
  --color-green-800: #276749;
  --color-green-900: #22543d;
  --color-teal-100: #e6fffa;
  --color-teal-200: #b2f5ea;
  --color-teal-300: #81e6d9;
  --color-teal-400: #4fd1c5;
  --color-teal-500: #38b2ac;
  --color-teal-600: #319795;
  --color-teal-700: #2c7a7b;
  --color-teal-800: #285e61;
  --color-teal-900: #234e52;
  --color-blue-100: #ebf8ff;
  --color-blue-200: #bee3f8;
  --color-blue-300: #90cdf4;
  --color-blue-400: #63b3ed;
  --color-blue-500: #4299e1;
  --color-blue-600: #3182ce;
  --color-blue-700: #2b6cb0;
  --color-blue-800: #2c5282;
  --color-blue-900: #2a4365;
  --color-indigo-100: #ebf4ff;
  --color-indigo-200: #c3dafe;
  --color-indigo-300: #a3bffa;
  --color-indigo-400: #7f9cf5;
  --color-indigo-500: #667eea;
  --color-indigo-600: #5a67d8;
  --color-indigo-700: #4c51bf;
  --color-indigo-800: #434190;
  --color-indigo-900: #3c366b;
  --color-primary: #0747A6;
  --color-tertiary: #e6e9f0;
  --color-textDarkest: #172b4d;
  --color-textDark: #42526E;
  --color-textMedium: #5E6C84;
  --color-textLight: #8993a4;
  --color-textLink: #0052cc;
  --color-textLogo: #DEEBFF;
  --color-backgroundDarkPrimary: #0747A6;
  --color-backgroundMedium: #dfe1e6;
  --color-backgroundLight: #ebecf0;
  --color-backgroundLightest: #F4F5F7;
  --color-backgroundLightPrimary: #D2E5FE;
  --color-backgroundLightSuccess: #E4FCEF;
  --color-borderLightest: #dfe1e6;
  --color-borderLight: #C1C7D0;
  --color-borderInputFocus: #4c9aff;
  --spacing-sidebar: 240px;
  --spacing-navbarLeft: 64px;
  --spacing-px: 1px;
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-1-25: 0.3125rem;
  --spacing-1-5: 0.375rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --spacing-40: 10rem;
  --spacing-48: 12rem;
  --spacing-56: 14rem;
  --spacing-64: 16rem;
  --spacing-72: 18rem;
  --spacing-80: 20rem;
  --spacing-88: 22rem;
  --font-sans: 'Inter UI', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --text-xs: 0.75rem;
  --text-13: 0.8125rem;
  --text-sm: 0.875rem;
  --text-15: 0.9375rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-btn: 14.5px;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 4rem;
  --radius-none: 0;
  --radius-sm: 0.125rem;
  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-full: 9999px;
  --shadow-none: none;
  --shadow-sidebar: 1px 0 0 0 #e6e6e6;
  --shadow-outline-white: 0 0 0 2px #fff;
  --inset-0: 0;
  --inset-navbarLeft: 64px;
  --inset-sidebar: 230px;
  --inset-auto: auto;
}

.pre-bootstrapping-container {
  @apply w-full h-full relative;
  .pre-bootstrapping-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
