@tailwind base;
@tailwind components;
@tailwind utilities;

.pre-bootstrapping-container {
    @apply w-full h-full relative;
    .pre-bootstrapping-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
