<div *ngIf="issue; else loaderTmpl"
     class="w-full h-full">
    <div class="flex items-center px-3 pt-4 text-textDarkest">
        <issue-type [issue]="issue"></issue-type>
        <div class="flex-auto"></div>
        <a target="_blank"
           href="https://github.com/trungk18/jira-clone-angular/issues/new">
            <j-button icon="feedback"
                      className="btn-empty">
                Give Feedback
            </j-button>
        </a>
        <j-button icon="trash"
                  [className]="'btn-empty'"
                  (clicked)="openDeleteIssueModal()">
        </j-button>
        <j-button icon="expand"
                  [iconSize]="24"
                  [className]="'btn-empty'">
        </j-button>
        <j-button icon="times"
                  [iconSize]="24"
                  (clicked)="closeModal()"
                  [className]="'btn-empty'">
        </j-button>
    </div>
    <div class="flex w-full flex-wrap pb-16 px-7">
        <div class="sm:w-full md:w-7/12 lg:w-4/6 pr-10">
            <issue-title [issue]="issue"></issue-title>
            <issue-description [issue]="issue"></issue-description>
            <div class="pt-10">
                <div class="font-medium text-15">Comments</div>
                <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md"
                     role="alert">
                    <div class="flex">
                        <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4"
                                 xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20">
                                <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" /></svg></div>
                        <section>
                            <p class="font-bold">Work in progress!</p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="sm:w-full md:w-5/12 lg:w-2/6 pt-1">
            <issue-status [issue]="issue"></issue-status>
            <issue-reporter [issue]="issue"
                             [users]="projectQuery.users$ | async">
            </issue-reporter>
            <issue-assignees [issue]="issue"
                             [users]="projectQuery.users$ | async">
            </issue-assignees>
            <issue-priority [issue]="issue"></issue-priority>
        </div>
    </div>
</div>

<ng-template #loaderTmpl>
    <issue-loader></issue-loader>
</ng-template>