<markdown-toolbar for="MarkInput">
    <md-bold class="btn btn-sm"
             title="Bold">
        <i nz-icon
           nzType="bold"
           nzTheme="outline"></i>
    </md-bold>
    <md-italic class="btn btn-sm"
               title="Italic">
        <i nz-icon
           nzType="italic"
           nzTheme="outline"></i>
    </md-italic>
    <md-quote class="btn btn-sm"
              title="Quote">
        <i>"</i>
    </md-quote>
    <md-code class="btn btn-sm"
             title="Snippet">
        <i nz-icon
           nzType="code"
           nzTheme="outline"></i>
    </md-code>
    <md-header class="btn btn-sm"
               title="Header">
        <i nz-icon
           nzType="font-size"
           nzTheme="outline"></i>
    </md-header>
    <md-link class="btn btn-sm"
             title="Link">
        <i nz-icon
           nzType="link"
           nzTheme="outline"></i>
    </md-link>
    <md-image class="btn btn-sm"
              title="Photo">
        <i nz-icon
           nzType="picture"
           nzTheme="outline"></i>
    </md-image>
    <md-unordered-list class="btn btn-sm"
                       title="Unordered List">
        <i nz-icon
           nzType="unordered-list"
           nzTheme="outline"></i>
    </md-unordered-list>
    <md-ordered-list class="btn btn-sm"
                     title="Ordered List">
        <i nz-icon
           nzType="ordered-list"
           nzTheme="outline"></i>
    </md-ordered-list>
    <md-task-list class="btn btn-sm"
                  title="Check List">
        <i nz-icon
           nzType="carry-out"
           nzTheme="outline"></i>
    </md-task-list>
    <md-mention class="btn btn-sm"
                title="Mention">
        <i nz-icon
           nzType="comment"
           nzTheme="outline"></i>
    </md-mention>
    <md-ref class="btn btn-sm"
            title="Tag">
        <i nz-icon
           nzType="tag"
           nzTheme="outline"></i>
    </md-ref>
</markdown-toolbar>

<textarea class="text-editor"
          [formControl]="control"
          id="MarkInput"
          cdkTextareaAutosize
          rows="6">
</textarea>