<div class="container p-5 mx-auto">
    <h1 class="text-3xl text-center">A simplified Jira clone built with Angular and Akita</h1>

    <img class="w-auto mx-auto md:max-w-2xl"
         src="assets/img/jira-clone-tech-stack.png" />

    <h3 class="m-10 text-center">
        <a class="text-lg text-blue-500 hover:text-blue-800"
           href="https://jira.trungk18.com/">Visit the work in progress app</a> |
        <a class="text-lg text-blue-500 hover:text-blue-800"
           href="hhttps://github.com/trungk18/jira-clone-angular/tree/master/frontend">View front-end code</a>
    </h3>

    <div class="px-4 py-3 text-teal-900 bg-teal-100 border-t-4 border-teal-500 rounded-b shadow-md"
         role="alert">
        <div class="flex">
            <div class="py-1"><svg class="w-6 h-6 mr-4 text-teal-500 fill-current"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 20 20">
                    <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" /></svg></div>
            <section>
                <p class="font-bold">Work in progress!</p>
                <p class="">
                    It is still <u>under development</u>.
                </p>
                <p class="pt-2">
                    I am planning to finish coding in about two weeks <u>(13 - 27 Jun 2020)</u> in my spare time.
                </p>
                <p class="pt-2">
                    In the meantime, I am gradually writing a series about how I built it step by step in my blog. Please visit <a class="text-blue-500 hover:text-blue-800"
                       href="https://trungk18.com/">trungk18.com</a>
                </p>
            </section>
        </div>
    </div>
    <p class="mt-8">
        Made with <span style="color: #e25555;">&hearts;</span> in Singapore
    </p>
    <div>© 2020 <a class="text-blue-500 hover:text-blue-800"
           href="https://trungk18.com/">Trung Vo</a></div>
</div>